@media(min-width:583px) and (max-width:768px){
    .wrap__container {
        width: 90%;
    }

}


@media(min-width:583px){
    .header__nav ul {
        display: flex;
        justify-content: space-between;
    }
.hamburger{
    display: none;
}
    .nav__list + li {
        margin-left: 40px;
    }
}