*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none; 
}

a {
    text-decoration: none;
}

/* ===========================
    #base style
==============================*/
.body__wrap {
    position: relative;
}

.wrap__container {
    width: 80%;
    margin: 0 auto;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 400;   
}

.section__header {
    text-align: center;
    padding: 20px 0;
}

.primary__header {
    font-size: 25px;
    font-weight: 400;
    color: #222;
}